examples/cuda_juan/dotproduct
/vs/pgr3_diffusion_win/pgr3_diffusion_win/x64/
/vs/pgr3_diffusion_win/.vs/pgr3_diffusion_win/v14
/vs/pgr3_diffusion_win/pgr3_diffusion_win.VC.VC.opendb
/vs/pgr3_diffusion_win/packages
/vs/pgr3_diffusion_win/x64/Debug
/vs/pgr3_diffusion_win/pgr3_diffusion_cuda_win/vc140.pdb
/vs/pgr3_diffusion_win/pgr3_diffusion_cuda_win/x64/Debug
/vs/pgr3_diffusion_win/pgr3_diffusion_win.VC.db
/vs/pgr3_diffusion_win/pgr3_diffusion_win/pgr3_diffusion_win.vcxproj.filters
/vs/pgr3_diffusion_win/pgr3_diffusion_win/pgr3_diffusion_win.vcxproj.user
